.control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0;
  gap: 5px;
  max-width: 700px;
}
.control button {
  border: none;
  cursor: pointer;
  margin: 0 auto;
  padding: 4px;
  outline: none;
  border-radius: 1pc;
  background-color: transparent;
}
.play {
  border: 1px solid red;
}
.trackslider {
  width: 100%;
  width: calc(100% - 5px);
  filter: hue-rotate(150deg);
  height: 5px;
}
.volume {
  display: flex;
  justify-content: center;
  align-content: center;
}
.volume input[type=range] {
  max-width: 100px;
}

.volume input[type=range] {
  width: 100%;
  height: 2px;
  margin: 10px 0 0 0;
  filter: grayscale(5);
}
.volume input[type=range]:focus {
  outline: none;
}
